
container_commands:
  01_create_original_if_not_exist:
    test: test ! -e /home/ec2-user/.ssh/authorized_keys.orig
    command: cp /home/ec2-user/.ssh/authorized_keys /home/ec2-user/.ssh/authorized_keys.orig

  02_merge_keys:
    test: test -e /home/ec2-user/.ssh/authorized_keys.orig -a -e .ebextensions/files/authorized_keys.new
    command: cat /home/ec2-user/.ssh/authorized_keys.orig >> .ebextensions/files/authorized_keys.new

  03_rewrite_authorized_keys:
    test: test -e /home/ec2-user/.ssh/authorized_keys.orig -a -e .ebextensions/files/authorized_keys.new
    command: mv -f .ebextensions/files/authorized_keys.new /home/ec2-user/.ssh/authorized_keys

  04_chown_authorized_keys:
    test: test -e /home/ec2-user/.ssh/authorized_keys
    command: chown ec2-user:ec2-user /home/ec2-user/.ssh/authorized_keys

  05_chmod_authorized_keys:
    test: test -e /home/ec2-user/.ssh/authorized_keys
    command: chmod 600 /home/ec2-user/.ssh/authorized_keys